:root {
  --color-50: #f6f4fe;
  --color-100: #eeeafd;
  --color-200: #dfd9fb;
  --color-300: #c6baf8;
  --color-400: #aa93f2;
  --color-500: #8e67eb;
  --color-600: #7d47e0;
  --color-700: #7037cd;
  --color-800: #5c2cab;
  --color-900: #4d268c;
  --color-950: #2f165f;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
/* body {
  padding: 150px 0px 0px 0px;
} */

/* *::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--color-darkBlue);
}

*::-webkit-scrollbar-thumb {
  background: var(--color-darkViolet);
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--color-lightPurple);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-darkViolet) var(--color-darkBlue);
} */
